body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* 登录按钮样式 */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

/* 注册按钮样式 */
#registerButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 12px; /* 设置注册按钮的文字大小 */
    padding: 5px 10px; /* 设置注册按钮的大小 */
    background-color: #f44336; /* 注册按钮的背景色 */
}

/* 容器样式 */
.login-container {
    position: relative;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
}

#countdown {
    position: absolute;
    top: -80px;   /* 距离页面顶部 20px */
    right: 60px; /* 距离页面右边 20px */
    font-size: 20px;
    color: red;
    background-color:#f4f4f9;
    padding: 10px;
    border-radius: 5px;
}

#forgetButton {
    position: absolute;
    bottom: 20px;
    right: 260px;
    font-size: 10px; /* 设置注册按钮的文字大小 */
    padding: 5px 10px; /* 设置注册按钮的大小 */
    background-color: #14bae8; /* 注册按钮的背景色 */
}